*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.list-item{
list-style: none;
}

.list-item{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #8A8FB9;
}

ul{
    list-style: none;
}


/*header below*/

.header{
    background-color: rgb(255, 255, 255);
    padding:16px 0px;
    position:fixed;
    width: 100%;
    
    
}

.header .list a:hover{
    color: #FB2E86;
}

.container{
width: 80%;
margin: auto;
max-width: 1200px;

}

.header .container{

 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input, button{
    border: 0px;
}

.header button{
    padding: 10px 10px;
    background-color: #FB2E86;
}

.header input{
    padding-left: 16px;
   
}


.header form{
    border: 2px solid rgb(190, 190, 190);
    display: flex;
    
    
}

/* hero images */

.Cover{
    
    height: 80vh;
    background-repeat: no-repeat;
    background-image: url(./Images/Cover_newslater.jpg);
    margin-bottom: 48px;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;



}

.content p{
    font-size: 28px;
    color: #151875;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.content .btn{
    width: 120px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-bottom: 180px;
    
}






/* footer below */

.Empty_text{
    color: #ffffff;

}

.footer .container{
    display: flex;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.btn{
    border: 0px;
    padding: 10px 5px;
    background-color: #FB2E86;
    color: #EEEFFB;
    width: 64px;
}

.footer input{
    border: 0px;
    padding-left: 4px;
}

.footer form{
    display: flex;
    
}


.footer{
    background-color: #EEEFFB;
    padding: 48px 0px;
    

}

.footer .row{
    gap: 24px;

}

.footer .container{
    display: flex;
    flex-wrap: wrap;
}

.footer .right_side {
    width: calc((100% - 24px)/2);
}

.footer .left_side{
    width: calc((100% - 24px)/2);
}


.footer .left_side{
    display: flex;
    flex-direction: column;
    gap:12px;
    
}

.footer .footer_item{
    display: flex;
    flex-direction: column;
    gap: 22px;
    
}

.footer .footer_list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .footer_list{
    font-size: 12px;
}

.footer .right_side{

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .logo{
    width: 100px;
}






@media  screen and (min-width:0px) and (max-width:750px) {
    .footer .right_side, .footer .left_side{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 24px;
    }
    
}