*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.list-item{
list-style: none;
}

.list-item{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #8A8FB9;
}

ul{
    list-style: none;
}


/*header below*/

.header{
    background-color: rgb(255, 255, 255);
    padding:16px 0px;
    position:fixed;
    width: 100%;
    
    
}

.header .list a:hover{
    color: #FB2E86;
}

.container{
width: 80%;
margin: auto;
max-width: 1200px;

}

.header .container{

 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input, button{
    border: 0px;
}

.header button{
    padding: 10px 10px;
    background-color: #FB2E86;
}

.header input{
    padding-left: 16px;
   
}


.header form{
    border: 2px solid rgb(190, 190, 190);
    display: flex;
    
    
}

.header .menu{
    display: none;
    font-size: 28px;
}


@media  screen and (min-width:0px) and (max-width:850px) {
    .header .search form {
        display:none ;
    }

    .header .list {
        display:none ;
    }

    .header .menu{
    display:block;
}
    
}

/* featured products */

.empty_above{
    color: #ffffff;
}


.featured_products .container{
    display: flex;
    
    flex-wrap: wrap;
    gap: 16px;

    
    
}

.image{
    background-color: #F6F7FB;

}

.container .product_item{
    border-style: solid  ;
    border-color: #EEEFFB;
    width: calc((100% - 48px)/4);
    height: 370px;
    
}



.container .image{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    
}

.img{
    width: 200px;
}

.container .product_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.container .product_info h2{
    margin-top: 8px;
}

.container .product_info .colors{
    display: flex;
    gap: 4px;

}

.colors .b1{
    background-color: #05E6B7;
    width: 15px;
    height: 4px;
}

.colors .b2{
    background-color: #F701A8;
    width: 15px;
    height: 4px;
}

.colors .b3{
    background-color: #00009D;
    width: 15px;
    height: 4px;
}


.c_p{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media (max-width: 1024px){
  .container .product_item{
    width: calc((100% - 32px)/3);
  }
}

@media (max-width: 768px){
  .container .product_item{
    width: calc((100% - 16px)/2);
  }
}

@media (max-width: 480px){
  .container .product_item{
    width: 100%;
  }
}












/* hero images */

.Cover{
    
   min-height: 80vh;
    background-image: url(./Images/Cover_newslater.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 16px;

}

.content p{
    font-size: 28px;
    color: #151875;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.content .btn{
    width: 120px;
}

.content{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;

    margin-bottom: 0;
}






/* footer below */

.Empty_text{
    color: #ffffff;

}

.footer .container{
    display: flex;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.btn{
    border: 0px;
    padding: 10px 5px;
    background-color: #FB2E86;
    color: #EEEFFB;
    width: 64px;
}

.footer input{
    border: 0px;
    padding-left: 4px;
}

.footer form{
    display: flex;
    
}


.footer{
    background-color: #EEEFFB;
    padding: 48px 0px;
    

}

.footer .row{
    gap: 24px;

}

.footer .container{
    display: flex;
    flex-wrap: wrap;
}

.footer .right_side {
    width: calc((100% - 24px)/2);
}

.footer .left_side{
    width: calc((100% - 24px)/2);
}


.footer .left_side{
    display: flex;
    flex-direction: column;
    gap:12px;
    
}

.footer .footer_item{
    display: flex;
    flex-direction: column;
    gap: 22px;
    
}

.footer .footer_list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .footer_list{
    font-size: 12px;
}

.footer .right_side{

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .logo{
    width: 100px;
}






@media  screen and (min-width:0px) and (max-width:750px) {
    .footer .right_side, .footer .left_side{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 24px;
    }
    
}