*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.list-item{
list-style: none;
}

.list-item{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
}

.header{
    background-color: wheat;
    padding:16px 0px;
    position:fixed;
    width: 100%;
    
    
}

.header .list a:hover{
    color: #FB2E86;
}

.container{
width: 80%;
margin: auto;
max-width: 1200px;

}

.header .container{

 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input, button{
    border: 0px;
}

.header button{
    padding: 10px 10px;
    background-color: #FB2E86;
}

.header input{
    padding-left: 16px;
   
}


.header form{
    border: 2px solid rgb(190, 190, 190);
    display: flex;
    
    
}
