*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.list-item{
list-style: none;
}

.list-item{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #8A8FB9;
}

ul{
    list-style: none;
}


/*header below*/

.header{
    background-color: rgb(255, 255, 255);
    padding:16px 0px;
    position:fixed;
    width: 100%;
    
    
}

.header .list a:hover{
    color: #FB2E86;
}

.container{
width: 80%;
margin: auto;
max-width: 1200px;

}

.header .container{

 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input, button{
    border: 0px;
}

.header button{
    padding: 10px 10px;
    background-color: #FB2E86;
}

.header input{
    padding-left: 16px;
   
}


.header form{
    border: 2px solid rgb(190, 190, 190);
    display: flex;
    
    
}

/* footer below */

.Empty_text{
    color: #ffffff;

}

.footer .container{
    display: flex;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.btn{
    border: 0px;
    padding: 10px 5px;
    background-color: #FB2E86;
    color: #EEEFFB;
    width: 64px;
}

.footer input{
    border: 0px;
    padding-left: 4px;
}

.footer form{
    display: flex;
    
}
/* footer here */



.footer{
    background-color: #EEEFFB;
    padding: 48px 0px;
    

}

.footer .row{
    gap: 24px;

}

.footer .container{
    display: flex;
    flex-wrap: wrap;
}

.footer .right_side {
    width: calc((100% - 24px)/2);
}

.footer .left_side{
    width: calc((100% - 24px)/2);
}


.footer .left_side{
    display: flex;
    flex-direction: column;
    gap:12px;
    
}

.footer .footer_item{
    display: flex;
    flex-direction: column;
    gap: 22px;
    
}

.footer .footer_list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .footer_list{
    font-size: 12px;
}

.footer .right_side{

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .logo{
    width: 100px;
}






@media  screen and (min-width:0px) and (max-width:650px) {
    .footer .right_side, .footer .left_side{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 24px;
    }
    
}